section#map {
    height: 350px;
}

div#map-leaflet{
    height: 350px;
    z-index: 0;
}

#messages.success {
    width: 100%;
    text-align: center;
    padding: 12px 0;
    background: green;
    font-weight: 600;
}

p.text-strong {
    font-weight: 900;
    font-size: 1.1em;
}
.text-center {
    text-align: center;
}


.justify-mobile{
    text-align: justify;
}

