Django==3.2.12
django-cleanup
django-crispy-forms
django-debug-toolbar
django-dynamic-preferences
django-extensions
django-modeltranslation
django-render-block
django-rosetta
django-split-settings
python-dateutil
python-decouple
sorl-thumbnail
mysqlclient
html2text
cssutils
