section#map {
    height: 350px;
}

div#map-leaflet{
    height: 350px;
    z-index: 0;
}

#messages.success {
    width: 100%;
    text-align: center;
    padding: 12px 0;
    background: green;
    font-weight: 600;
}

p.text-strong {
    font-weight: 900;
    font-size: 1.1em;
}
.text-center {
    text-align: center;
}


.justify-mobile{
    text-align: justify;
}
.btn{
    border-radius: 0;
}
.btn-outline-primary.disabled, .btn-outline-primary:disabled {
    color: #C82A54;
    background-color: #fafafa;
}
.card-body {
    min-height: 215px;
}
.owl-carousel.owl-drag .owl-item {
    padding: 10px;
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    video {
        width: auto!important;
        height: 400px;
    }
    .mb-5, .my-5 {
        margin-bottom: 1rem!important;
    }
    .mt-5, .my-5 {
        margin-top: 1rem!important;
    }
    h1, .h1 {
        font-size: 1.5rem;
    }
    .section {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .form-group label {
        font-size: 12px;
    }
    iframe#instagram-embed-0 {
    min-width: auto!important;
}
}

    @media screen and (max-width: 600px) {
    /* Estilos CSS para pantallas pequeñas */
        .header-mobile-hidden {
            display: none;
        }
        .header {
            padding: 84px 0 10px;
        }
        .card-body {
            height: auto!important;
        }
        h3.h4.mb-3 {
            font-size: 14px;
        }
        img.card-img-top.slick-slide.slick-current.slick-active {
            height: 250px;
        }
    }

    .card {
        background-color: #fff;
        margin-bottom: 30px;
        border: 1px solid #C82A54;
    }
    .card.finished {
        background-color: #fff;
        margin-bottom: 30px;
        border: 1px solid black;
    }
    .card .card-buttons a {
        margin: 2% 5%;
        width: 90%;
    }

.sponsor img {
    margin: 20px 20px;
}
