{% extends "../layout.html" %}
{% load i18n %}
{% load static %}
{% load sorl_thumbnail %}

{% block css %}
  <style>
    #fullpage {
      display: none;
      position: absolute;
      z-index: 9999;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: contain;
      background-repeat: no-repeat no-repeat;
      background-position: center center;
      background-color: black;
    }
    .gallery a {
      display: block;
      height: 100%;
      width: 100%;
    }
  </style>
{% endblock css %}

{% block content %}
  
{% include 'frontend/inc/section-professional.html' %}
{% endblock content %}

