{% extends "../layout.html" %}

{% load model_tags %}
{% load i18n %}
{% load static %}

{% block css %}
<style>
    #main > header {
        background-color:#d67588!important;
        background-image:none;
    }
</style>
{% endblock css %}

{% block class_body %}{% endblock class_body %}
{% block content %}
    <article id="main">
        <header>
            <h1>{{ event.title }}</h1>
            <p>{{ event.subtitle }}</p>
        </header>
        <section class="wrapper style5">
            <div class="inner">

                <span class="image left">
                {% if event.image %}
                    <img src="{{ event.image.url }}" alt="{{ event.title }}">
                {% else %}
                    <img src="{% static 'frontend/images/event.jpg' %}" alt="{{ event.title }}">
                {% endif %}</span>
                {{ event.description|safe }}
            </div>
        </section>
        {% if event.pictures.all.count > 1 %}
            <section class="wrapper style5">
                <div class="inner">
                    <h2>{% trans "galería" %}</h2>
                    <div class="box alt">
                        <div class="row gtr-50 gtr-uniform">
                            {% for picture in event.pictures.all  %}
                                <div class="col-4"><span class="image fit"><img src="{{ picture.image.url }}" alt="{{ picture.alt }}"></span></div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </section>
        {% endif %}
    </article>
{% endblock content %}
