{% load i18n %}
{% load thumbnail %}

{% if position == 'vertical' %}
  <div class="col-lg-4 mb-5">
    <div class="card {% if event.status == 'f' %}finished{% endif %}">
      {% if event.status == 'f' %}
        <div style="text-align: center;border: 1px solid black" class="text-finished">
          {% trans "evento concluido"|title %}
        </div>
      {% endif %}
      <div class="post-slider slider-sm">
        {% thumbnail event.image "400x400" crop="center" as im %}
          <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="card-img-top" alt="{{ event.title }}">
        {% endthumbnail %}
      </div>
      <div class="card-body">
        <h3 class="h4 mb-3">
          <a class="post-title" href="{% url 'frontend:event_detail' event.slug %}">{{ event.title }}</a>
        </h3>
        <ul class="card-meta list-inline">
            {% if event.text_show_geo %}
                <li class="list-inline-item">
                    <i class="ti-world"></i> {{ event.text_show_geo }}
                </li>
            {% endif %}
            {% if event.text_show_date %}
                <li class="list-inline-item">
                    <i class="ti-calendar"></i>{{ event.text_show_date }}
                </li>
            {% endif %}
        </ul>
        {{ event.description_short|truncatechars:100 }}
        <br>
      </div>
      <div class="card-buttons">
      {% if event.ticket_purchase_link and event.status != 'f'%}
          <a href="{{ event.ticket_purchase_link }}" class="btn btn-outline-primary mb-1" target="_BLANK">{% trans "comprar entrada" %}</a>
      {% endif %}
      {% if event.status == 'f' %}
        <a href="{% url 'frontend:event_detail' event.slug %}" class="btn btn-outline-default">{% trans "ver más" %}</a>
      {% else %}
        <a href="{% url 'frontend:event_detail' event.slug %}" class="btn btn-outline-primary">{% trans "ver más" %}</a>
      {% endif %}
      </div>
    </div>
  </div>
{% elif position == 'horizontal' %}
  <div id="id_{{event.pk }}" class="card mb-4 isotope-item {% if event.status == 'f' %}finished{% endif %}">
      <div class="row card-body">
          <div class="col-md-4 mb-4 mb-md-0">
            {% thumbnail event.image "200x250" crop="center" as im %}
              <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="card-img" alt="{{ event.title }}">
            {% endthumbnail %}
          </div>
          <div class="col-md-8">
            <h3 class="h4 mb-3"><a class="post-title" href="{{ event.get_absolute_url }}">{{ event.title }}</a></h3>
            <ul class="card-meta list-inline">
              {% if event.text_show_geo %}
                <li class="list-inline-item">
                  <i class="ti-map"></i> {{ event.text_show_geo }}
                </li>
              {% endif %}
              {% if event.text_show_date %}
                <li class="list-inline-item">
                  <i class="ti-calendar"></i>{{ event.text_show_date }}
                </li>
              {% endif %}
            </ul>
            <p>{{ event.description_short|truncatewords:36 }}</p>
            <div class="card-buttons">
              {% if event.ticket_purchase_link and event.status != 'f'%}
                  <a href="{{ event.ticket_purchase_link }}" class="btn btn-outline-primary mb-1" target="_BLANK">{% trans "comprar entrada" %}</a>
              {% endif %}
              <a href="{% url 'frontend:event_detail' event.slug %}" class="{% if event.status == 'f' %}btn btn-outline-default{% else %}btn btn-outline-primary{% endif %} mb-1">{% trans "ver más" %}</a>
            </div>
          </div>
      </div>
  </div>
{% endif %}
