{% load i18n %}
{% load static %}

<section class="section pb-0">
  <div class="container">
    <h2 class="h5 section-title">{% trans "Nuestro Equipo de Profesionales" %}</h2>
    <div class="row no-gutters">
      <div class="col-lg-6 col-sm-6 author-block">
        <div class="author-card text-center">
          <img class="author-image" src="{% static 'frontend/images/profesores/Almudena.jpg' %}">
          <h3 class="mb-2"><a class="post-title">Almudena Santos Heredero</a></h3>
          <p class="mb-3">Directora de IgualArte</p>
        </div>
      </div>
      <div class="col-lg-6 col-sm-6 author-block">
        <div class="author-card text-center">
          <img class="author-image" src="{% static 'frontend/images/profesores/felipe.jpg' %}">
          <h3 class="mb-2"><a href="https://www.linkedin.com/in/fpgrajera/" class="post-title" target="_blank">Felipe Piñero Grajera</a></h3>
          <p class="mb-3">Técnico de proyectos y evaluación</p>
        </div>
      </div>
      <div class="col-lg-6 col-sm-6 author-block">
        <div class="author-card text-center">
          <img class="author-image" src="{% static 'frontend/images/profesores/delia.jpg' %}">
          <h3 class="mb-2"><a href="https://www.linkedin.com/in/delia-mql/" target="_blank" class="post-title">Delia Magdalena Quispe Limachi</a></h3>
          <p class="mb-3">Trabajadora Social y Técnica de Proyectos</p>
        </div>
      </div>
      <div class="col-lg-6 col-sm-6 author-block">
        <div class="author-card text-center">
          <img class="author-image" src="{% static 'frontend/images/profesores/eva.jpg' %}">
          <h3 class="mb-2"><a href="https://www.linkedin.com/in/eva-casas-agudo-4b877844/" target="_blank" class="post-title">María Eva Casas Agudo</a></h3>
          <p class="mb-3">Relaciones Institucionales y Comunicación</p>
        </div>
      </div>
    </div>
  </div>
</section>
