{% load i18n %}
{% load static %}

<section class="section pb-0">
  <div class="container">
    <h2 class="h5 section-title">{% trans "Nuestros Profesionales" %}</h2>
    <div class="row no-gutters">
      <div class="col-lg-6 col-sm-6 author-block">
        <div class="author-card text-center">
          <img class="author-image" src="{% static 'frontend/images/profesores/irene.jpg' %}">
          <h3 class="mb-2"><a class="post-title">Irene García-Rojo Ferrado</a></h3>
          <p class="mb-3">Profesora de Danza</p>

        </div>
      </div>
      <div class="col-lg-6 col-sm-6 author-block">
        <div class="author-card text-center">
          <img class="author-image" src="{% static 'frontend/images/profesores/Almudena.jpg' %}">
          <h3 class="mb-2"><a class="post-title">Almudena Santos Heredero  </a></h3>
          <p class="mb-3">Directora de IgualArte</p>

        </div>
      </div>
      <div class="col-lg-6 col-sm-6 author-block">
        <div class="author-card text-center">
          <img class="author-image" src="{% static 'frontend/images/profesores/nohel.jpeg' %}">
          <h3 class="mb-2"><a class="post-title">Noel Lozano García</a></h3>
          <p class="mb-3">Director de Visión Café</p>

        </div>
      </div>
      <div class="col-lg-6 col-sm-6 author-block">
        <div class="author-card text-center">
          <img class="author-image" src="{% static 'frontend/images/profesores/felipe.jpg' %}">
          <h3 class="mb-2"><a class="post-title">Felipe Piñero Grajera</a></h3>
          <p class="mb-3">Técnico de proyectos y evaluación</p>

        </div>
      </div>
    </div>
  </div>
</section>


{% comment %}
  <ul class="list-inline social-icons">
    <li class="list-inline-item"><a href="#"><i class="ti-facebook"></i></a></li>
    <li class="list-inline-item"><a href="#"><i class="ti-twitter-alt"></i></a></li>
    <li class="list-inline-item"><a href="#"><i class="ti-github"></i></a></li>
    <li class="list-inline-item"><a href="#"><i class="ti-link"></i></a></li>
  </ul>
{% endcomment %}
