{% load i18n %}
{% load static %}

<section class="section pb-0 mt-5">
  <div class="container">
    <h2 class="h5 section-title">{% trans "Nuestros Colaboradores" %}</h2>
    <div class="row no-gutters">
      <div class="col-lg-6 col-sm-6 author-block">
        <div class="author-card text-center">
          <img class="author-image" src="{% static 'frontend/images/colaboradores/sara.jpg' %}">
          <h3 class="mb-2"><a href="https://www.saratorresvega.com/" target="_blank" class="post-title">Sara Torres Vega</a></h3>
          <p class="mb-3">Artista, Investigadora y Docente</p>
        </div>
      </div>
      <div class="col-lg-6 col-sm-6 author-block">
        <div class="author-card text-center">
          <img class="author-image" src="{% static 'frontend/images/colaboradores/jarold.jpg' %}">
          <h3 class="mb-2"><a href="https://www.linkedin.com/in/jarold-melendez-a9182a189/" target="_blank" class="post-title">Jarol Meléndez Lugo</a></h3>
          <p class="mb-3">Programador Web</p>
        </div>
      </div>
      <div class="col-lg-6 col-sm-6 author-block">
        <div class="author-card text-center">
          <img class="author-image" src="{% static 'frontend/images/colaboradores/carlos.png' %}">
          <h3 class="mb-2"><a href="https://carlosrinconphoto.com/" target="_blank" class="post-title">Carlos Rincón</a></h3>
          <p class="mb-3">Técnico Audiovisual</p>
        </div>
      </div>
      <div class="col-lg-6 col-sm-6 author-block">
        <div class="author-card text-center">
          <img class="author-image" src="{% static 'frontend/images/colaboradores/chema.png' %}">
          <h3 class="mb-2"><a href="https://instagram.com/josemariasanznicolas?igshid=YmMyMTA2M2Y=" target="_blank" class="post-title">José Maria Sanz Nicolás</a></h3>
          <p class="mb-3">Técnico en Logística</p>
        </div>
      </div>
    </div>
  </div>
</section>
